@import url('/style/global.css');

main {
    padding: 2rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.songs-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3rem;
    padding-right: 10%;
}

.song-card {
    background: #242526;
    color: white;
    padding: 1rem;
    border-radius: 8px;
    transition-duration: 300ms;
    cursor: pointer;
    position: relative;
    height: 100%;
    width: 100%;
}

.song-card:hover {
    background: #191414;
}

.song-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    box-shadow: #242526 0px 0px 10px;
}

.song-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.song-desc {
    font-size: 0.75rem;
    color: gray;
}

.play-button {
    background-color: var(--p-green);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transform: translateY(0.5rem);
    opacity: 0;
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.75rem solid var(--p-black);
    margin-left: 0.25rem;
}

@media screen and (max-width: 768px) {
    .home-body {
        flex-direction: column-reverse;
    }
    .nav-button {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        align-items: space-between;
        justify-content: space-between;
    }
    .nav-desc {
        display: none;
    }
    .logout-button {
        display: none;
    }
    .divider {
        display: none;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .app-title {
        display: none;
    }
    .nav {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}