@import url('../../style/global.css');

.home-body {
    background: linear-gradient(180deg, #242526, var(--p-black));
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    color: white;
}

.nav {
    background: black;
    padding: 2rem;
    min-width: 12%;
}

nav > ul { 
    list-style-type: none;
}

a {
    text-decoration: none;
    margin-bottom: 1rem;
}

.nav-button {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

li {
    color: white;
    opacity: 75%;
    transition-duration: 100ms;
}

li:hover {
    opacity: 100%;
}

.divider {
    border-bottom: 1px solid gray;
    margin-top: 1rem;
    margin-bottom: 1rem;
    opacity: 50%;
}

main {
    padding: 2rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.songs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}

.song-card {
    width: 12rem;
    background: #242526;
    padding: 1rem;
    border-radius: 8px;
    transition-duration: 300ms;
    cursor: pointer;
    position: relative;
}

.song-card:hover {
    background: #191414;
}

.song-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    box-shadow: #242526 0px 0px 10px;
}

.song-title {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.song-artist {
    font-size: 0.75rem;
    color: gray;
}

.play-button {
    background-color: var(--p-green);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transform: translateY(0.5rem);
    opacity: 0;
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    border-left: 0.75rem solid var(--p-black);
    margin-left: 0.25rem;
}