@import url('/style/global.css');

main {
    padding: 2rem;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

/* .play-button {
    background-color: var(--p-green);
    border-radius: 100%;
    height: 2rem;
    width: 2rem;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    transform: translateY(0.5rem);
    opacity: 0;
    transition-duration: 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/*                       Song List                        */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
/* ------------------------------------------------------ */
.main-content {
    padding: 2rem;
    width: 100%;
    font-family: "Gotham Bold";
}

/* Search, Sort, and Filter Section */
/* Search, Sort, and Filter Section */
/* Search, Sort, and Filter Section */
/* Search, Sort, and Filter Section */
/* Search, Sort, and Filter Section */

.search-sort-filter {
    width: 85%;
}
  
.search-bar {
    width: 95%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
  
#search-input {
    width: 100%;
    height: 2.8rem;
    background: #f5f5f5;
    outline: none;
    border: none;
    border-radius: 1.625rem;
    padding: 0 3.5rem 0 1.5rem;
    font-size: 1rem;
}
  
#search-submit {
    width: 3.5rem;
    height: 2.8rem;
    margin-left: -3.5rem;
    background: none;
    border: none;
    outline: none;
    /* margin-right: 20rem; */
}
  
#search-submit:hover {
    cursor: pointer;
}

.sort{
    margin-left: 4rem;
}

.sort > button, .filter > button, .date > button{
    all: unset;
    cursor: pointer;
    height: 2.8rem;
    width: 2.8rem;
}

.fa-sort-alpha-up:hover {
    color: #1ED760;
}

.fa-filter:hover {
    color: #1ED760;
}

.fa-calendar-alt:hover {
    color: #1ed760;
}

.fa-filter {
    position: relative;
    display: inline-block;
}

.genre-list {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    height: 200px;
    overflow-y: scroll;
    font-family: "Gotham Regular";
}

.genre-list .song-genre {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.genre-list .song-genre:hover {
    background-color: #f1f1f1;
}

.filter:hover .genre-list {
    /* margin-top: 1px; */
    display: block;
}

/* Song List Section */
/* Song List Section */
/* Song List Section */
/* Song List Section */
/* Song List Section */

.song-list {
    margin-top: 1rem;
    height: 90%;
}

.song {
    height: 10%;
    padding: 0.2rem;
}

.song:hover {
    background-color:#2a2a2a;
}

.song:hover .number {
    display: none;
}

.song:not(:hover) .play-button {
    display: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 3rem 5rem 15rem auto 25rem;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: transparent;
    align-items: center;
    height: 100%;
}

/* 
Ilustrasi grid:
no | img | judul    | -gap- | genre | tahun |
   |     | penyanyi | -gap- |       |       |
*/


/* ----------------------------------------------------------------- */
.number {
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    font-family: "Gotham Regular";
}

.play-button {
    all: unset;
    height: 100%;
    cursor: pointer;
    z-index: 999;
}

.fa-play {
    color: white;
}

.play-button {
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    font-family: "Gotham Regular";
}
/* ----------------------------------------------------------------- */

.image {
    text-align: center;
    grid-area: 1 / 2 / 3 / 3;
    height: 100%;
}

/* ----------------------------------------------------------------- */

.judul {
    text-align: left;
    grid-area: 1 / 3 / 2 / 4;
    font-family: "Gotham Bold";
    font-weight: bold;
}

/* ----------------------------------------------------------------- */

.penyanyi {
    text-align: left;
    grid-area: 2 / 3 / 3 / 4;
    font-family: "Gotham Regular";
}

/* ----------------------------------------------------------------- */

.blank {
    grid-area: 1 / 4 / 3 / 5;
    height: 100%;
}

/* ----------------------------------------------------------------- */

.genre {
    text-align: center;
    grid-area: 1 / 5 / 3 / 6;
    font-family: "Gotham Regular";
}


/* ----------------------------------------------------------------- */

.tahun {
    text-align: center;
    grid-area: 1 / 6 / 3 / 7;
    font-family: "Gotham Regular";
}

/* ----------------------------------------------------------------- */

/* Ngeset biar imagenya fix tapi gak pecah */
.image-container {
    height: 100%;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Pagination Section */
/* Pagination Section */
/* Pagination Section */
/* Pagination Section */
/* Pagination Section */

.pagination {
    position: fixed;
    bottom: 5%;
    height: 50px;
}

.page {
    display: grid;
    place-items: center;
}
  
.pagination {
    display: flex;
    justify-content: center;
}

.pagination > button {
    all: unset;
    text-align: center;
    margin: 0.75rem;
    width: 2rem;
    cursor: pointer;
    border-radius: 10px;
}

.page-number:hover {
    background-color: #1ED760;
}

#first {
    background-color: #1ED760;
}

.back:hover, .forward:hover {
    background-color: transparent;
    font-size: 1.3rem;
}
