@import url('../../style/global.css');

main {
    width: 100%;
    padding: 2rem;
    padding-right: 10%;
}

.title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.form {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding-top: 1rem;
}

.input-group input {
    height: 1.5rem;
    width: 95%;
}

.save-btn {
    grid-column-start: 2;
    justify-self: end;
    border-radius: 36px;
}

@media screen and (max-width: 768px) {
    .body {
        flex-direction: column-reverse;
    }
    .nav-button {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
        align-items: space-between;
        justify-content: space-between;
    }
    .nav-desc {
        display: none;
    }
    .logout-button {
        display: none;
    }
    .divider {
        display: none;
    }
    .nav-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .app-title {
        display: none;
    }
    .nav {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }
}