@import url('/style/global.css');

/* ---------- Album Header ---------- */

.album-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr) 1fr;
    gap: 1rem;
    position: relative;
    top: 0;
}

@media screen and (max-width: 768px) {
    .album-info-grid {
        grid-template-columns: 1fr;
    }
    .album-image-container {
        grid-row: span 1;
    }
    .album-tag {
        grid-column: span 1;
    }
    .album-title {
        grid-column: span 1;
    }
}
    
.album-image-container {
    grid-row: span 3;
    text-align: center;
}

.album-tag {
    padding-top: 0.2rem;
    grid-column: span 2;
}

.album-image-container > img {
    aspect-ratio: 1/1;
}

.album-title {
    padding-top: 1.5rem;
    grid-column: span 2;
}

.album-title > h1 {
    font-size: 4rem;
}

.album-desc {
    padding-top: 0.5rem;
    height: fit-content;
}

.album-settings {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
}

.album-settings li {
    list-style-type: none;
}

.settings-button {
    color: white;
    opacity: 75%;
    transition-duration: 100ms;
}

.settings-button:hover {
    opacity: 100%;
}


/* ---------- Song List Section ---------- */

.cont {
    margin-left: 1%;
}

.song-list {
    margin-top: 1rem;
    height: 80%;
}

.song {
    height: 10%;
    padding: 0.2rem;
    cursor: pointer;
}

.song:hover {
    background-color:#2a2a2a;
}

.grid-container {
    display: grid;
    grid-template-columns: 3rem 5rem 15rem auto 25rem;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: transparent;
    align-items: center;
    height: 100%;
}

/* 
Ilustrasi grid:
no | img | judul    | -gap- | genre | tahun |
   |     | penyanyi | -gap- |       |       |
*/


/* ----------------------------------------------------------------- */
.number {
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    font-family: "Gotham Regular";
}

.play-button {
    all: unset;
    height: 100%;
    cursor: pointer;
}

.fa-play {
    color: white;
}

.play-button {
    text-align: center;
    grid-area: 1 / 1 / 3 / 2;
    font-family: "Gotham Regular";
}
/* ----------------------------------------------------------------- */

.image {
    text-align: center;
    grid-area: 1 / 2 / 3 / 3;
    height: 100%;
    margin-right: 10%;
}

/* ----------------------------------------------------------------- */

.judul {
    text-align: left;
    grid-area: 1 / 3 / 2 / 4;
    font-family: "Gotham Bold";
}

/* ----------------------------------------------------------------- */

.penyanyi {
    text-align: left;
    grid-area: 2 / 3 / 3 / 4;
    font-family: "Gotham Regular";
}

/* ----------------------------------------------------------------- */

.blank {
    grid-area: 1 / 4 / 3 / 5;
    height: 100%;
}

/* ----------------------------------------------------------------- */

.tahun {
    text-align: center;
    grid-area: 1 / 5 / 3 / 6;
    font-family: "Gotham Regular";
}


/* ----------------------------------------------------------------- */

.remove-button {
    text-align: center;
    grid-area: 1 / 6 / 3 / 7;
    font-family: "Gotham Regular";
    cursor: pointer;
}

.image-container {
    height: 100%;
}

.image-container > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ---------- Modal ---------- */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
    color: #000;

    /* Invisible */
    background-color: rgba(89, 93, 97, 0.75);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 5px;
    color: white;
}

#edit-modal > .modal-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    padding-left: 1rem;
}

#delete-modal > .modal-content {
    display: grid;
    grid-template-columns: 1fr 0.15fr 0.15fr 1fr;
    grid-template-rows: 2fr 1fr 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

button {
    cursor: pointer;
}

.close {
    color: #aaaaaa;
    font-size: 28px;
    font-weight: bold;
    padding: 5px;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close-area { 
    grid-area: 1 / 1 / 2 / 5; 
    text-align: right;
}

/* Edit Modal */
.album-title-edit { grid-area: 2 / 1 / 3 / 2; }
.album-title-new { grid-area: 2 / 2 / 3 / 5; }

.album-cover-edit { grid-area: 4 / 1 / 5 / 2; }
.album-cover-new { grid-area: 4 / 2 / 5 / 5; }

.genre-edit { grid-area: 5 / 1 / 6 / 2; }
.genre-new { grid-area: 5 / 2 / 6 / 5; }

.save-changes { 
    grid-area: 8 / 1 / 9 / 4;
    text-align: center;
}

.save-changes > button {
    width: 30%;
    font-family: "Gotham Bold";
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #1ed760;
    border: 1px solid #1ed760;
    border-radius: 5px;
    color: white;
}

.save-changes > button:hover {
    background-color: #19a54a;
    border: 1px solid #19a54a;
}

/* Delete Modal */
.delete-sentence {
    grid-area: 2 / 1 / 3 / 5;
    text-align: center;
}

#delete-confirm-container {
    grid-area: 3 / 1 / 4 / 2;
    text-align: right;
}

#delete-cancel-container {
    grid-area: 3 / 4 / 4 / 5;
    text-align: left;
}

#delete-confirm-container > button {
    height: 40%;
    width: 50%;
    border-radius: 36px;
    border: none;
    margin-top: 10%;
    font-size: 1.15rem;
    color: var(--p-white);
    background-color: var(--p-green);
}

#delete-cancel-container > button {
    height: 40%;
    width: 50%;
    border-radius: 36px;
    border: none;
    margin-top: 10%;
    font-size: 1.15rem;
    color: var(--p-white);
    background-color: var(--p-gray);
}